<h1>
  Books You're Borrowing
</h1>

<hr>


<table>
  <tr>

    <th>
      Book
    </th>

    <th>
      Book Cover
    </th>
    
    <th> 
      Borrowed 
    </th>
    
  </tr>

  <% @borrowingcards.where(:borrower_id => current_user.id).each do |borrowingcard| %>
  <tr>

    <td>
      <%= borrowingcard.book_title.first %>
    </td>

    <td> 
      <img src="<%= borrowingcard.book_cover %>">
    </td>
    
    <td>
      <%= time_ago_in_words(borrowingcard.created_at) %> ago
    </td>

    <td>
        <div> <a href="/return_book/<%= borrowingcard.book_id %>"> Return Book </a> </div>
    </td>
  </tr>
  <% end %>
</table>
