<h1>
  Welcome to the Free Library
</h1>

<div> </div>
<div> </div>
  
    <h2> Getting Started </h2>
    <h3> Create an account or sign in with </h3>
    	<div> email: emilie.futterman@gmail.com</div>
    	<div> password: wonderland </div>
   		<p> </p>
   		<p> </p>
   		<p> </p>
    <h2> Functionality </h2>
    <h3> As a user you have a </h3>
		<div> Username </div>
		<div> Password </div>
		<div> Borrowing Card with the books you've lent and the books you've borrowed (Profile) </div>
		<div> </div>
		<p> </p>
   		<p> </p>
   		<p> </p>
	<h3> As a user you can </h3>
		<div> View all books (Collection) </div>
		<div> Upload a new book </div>
		<div> Check out a book </div>
		<p> </p>
   		<p> </p>
   		<p> </p>
	<h3> As a user you can see a book's </h3>
		<div> Title </div>
		<div> Author </div>
		<div> Cover photo </div>
		<div> Amazon URL link </div>
		<div> Donator </div>
		<div> Availability </div>
		
		