<h1>
  Welcome to the Free Library
</h1>

<div> </div>
<div> </div>
  
    
    <h3> As a user you have a </h3>
		<div> Username </div>
		<div> Password </div>
		<div> Borrowing Card with the books you've lent and the books you've borrowed </div>
		<div> </div>
	<h3> As a user you can </h3>
		<div> View all available books </div>
		<div> Upload a new book </div>
		<div> Borrow a title </div>
	<h3> As a user you can see a book's </h3>
		<div> Title </div>
		<div> Author </div>
		<div> Cover photo </div>
		<div> Amazon URL link </div>
		<div> Past users who have borrowed </div>
		
		